@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,700&display=swap");
:root {
    --primary-color: #56c8eb;
    --secondary-color: #000000;
    --hover-color: #03254d;
}

body {
    font-family: "Montserrat";
    font-size: 16px;
    line-height: 1.8;
    font-weight: normal;
    background: #f8f9fd;
}

a {
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    color: #4299eb;
}

h1 span {
    color: var(--primary-color);
}

a:active,
a:hover,
a:focus {
    text-decoration: none !important;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

p {
    padding: 0;
    margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
    line-height: 1.5;
    font-weight: 400;
    font-family: "Montserrat";
    color: #000000;
}

.bg-primary {
    background: #4299eb !important;
}

.ftco-section {
    padding: 7em 0;
}

.ftco-no-pt {
    padding-top: 0;
}

.ftco-no-pb {
    padding-bottom: 0;
}

.heading-section {
    font-size: 28px;
    color: #000000;
}

.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.wrap {
    width: 100%;
    overflow: hidden;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}

.img,
.login-wrap {
    width: 50%;
}

@media (max-width: 991.98px) {
    .img,
    .login-wrap {
        width: 100%;
    }
}

@media (max-width: 767.98px) {
    .wrap .img {
        height: 250px;
    }
    .login-wrap {
        position: relative;
        background: #ffffff;
        font-weight: 300;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .form-group {
        position: relative;
    }
    .form-group .label {
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #000000;
        font-weight: 700;
    }
    .form-group a {
        color: gray;
    }
    .form-control {
        height: 48px;
        background: #ffffff;
        color: #000000;
        font-size: 16px;
        border-radius: 5px;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    .form-control::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgba(0, 0, 0, 0.2) !important;
    }
    .form-control::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(0, 0, 0, 0.2) !important;
    }
    .form-control:-ms-input-placeholder {
        /* IE 10+ */
        color: rgba(0, 0, 0, 0.2) !important;
    }
    .form-control:-moz-placeholder {
        /* Firefox 18- */
        color: rgba(0, 0, 0, 0.2) !important;
    }
    .form-control:focus,
    .form-control:active {
        outline: none !important;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 1px solid #4299eb;
    }
    .btn {
        cursor: pointer;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        font-size: 15px;
        padding: 10px 20px;
    }
    .btn:hover,
    .btn:active,
    .btn:focus {
        outline: none;
        background: #03254d;
    }
    .btn.btn-primary {
        background: #4299eb !important;
        border: 1px solid #4299eb !important;
        color: #ffffff !important;
    }
    .btn.btn-primary:hover {
        border: 1px solid #4299eb;
        background: transparent;
        color: #4299eb;
    }
    .btn.btn-primary.btn-outline-primary {
        border: 1px solid #4299eb;
        background: transparent;
        color: #4299eb;
    }
    .btn.btn-primary.btn-outline-primary:hover {
        border: 1px solid transparent;
        background-color: #03254d;
        color: #ffffff;
    }
}