<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center ">
    <div class="container-fluid container-xxl d-flex align-items-center">
        <div id="logo" class="me-auto">
            <!-- text logo -->
            <h1><a href="client-home.php">Kasimanatics<span>Talks</span></a></h1>
        </div>

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">About</a></li>
                <li><a class="nav-link scrollto" href="#events">Events</a></li>
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>

                <li class="dropdown"><a href="#"><span>My Account</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="client-profile.php">My Profile</a></li>
                        <li><a href="client-event.php">Event History</a></li>
                        <li><a href="#">My Tickets</a></li>
                        <li><a id="logout" onclick="logoutToWebsite()">Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- .navbar -->
        <a class="buy-tickets scrollto" href="#buy-tickets">Buy Tickets</a>

    </div>
</header>
<!-- End Header -->